.header {
  color: #451540;
  padding: 20px;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 2.5em;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
}
